<!doctype html>

<html>
<head>
	<title>Schnip - Check Out Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/a5skeleton.css" rel="stylesheet">
   
</head>

<body>
	<div class="container">
		
		<!-- SETTINGS DROPDOWN -->
		<div class="top_container">
			<img src ="images/screen1_top.jpg" width="348" height="44" alt="Top Screen" usemap="#topmap">
				<map name="topmap">
					<div class="dropdown">
						<area shape="rect" coords="8,6,39,39" href="">
							<div class="dropdown-content">
							
									<a href="preferences">Preferences</a>
									
									<br>
									
									<form action="/action_page.php">
										<input type="checkbox" name="tooptipon" value="">Tool tips
									<br>
									<br>
									</form>

									<form action="/action_page.php">
										<input type="checkbox" name="locationon" value="">Location
									<br>
									<br>
									</form>
			
									<form action="/action_page.php">
										<input type="checkbox" name="Notificationon" value="">Notifications
									<br>
									<br>
									</form>
				
									<a href="addcard.">Add Loyalty Card</a>
									
									<a href="signout">Sign Out</a>
							</div>
					</div>
				</map>
		</div>
		<h1>Check Out</h1>

		<div>
			<img src ="images/chickenbogo.png" width="348" height="44">
		</div>

		<div>
			<img src ="images/guac.png" width="348" height="44">
		</div>
    
	<div class = "backbutton">
		<h3><a href="/">Done</a></h3>
	</div>




</body>
</html>
